@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import 'https://fonts.googleapis.com/css?family=Overpass';

:root {
	--card-front-color: rgba(255, 255, 255, 0.8);
	--back-background-color: #304560;
	--accent-color: #4687c7;
	--front-text-color: #304560;
	--accent-gray:#164470ad;
	--cell-outline-color: #b56d4d;
	--bee-yellow: #ffc337;
	--bee-black: #000;
	--bee-white: #FFF0CE;
  }

body, html {
  overflow: hidden
}

body {
	white-space:nowrap;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	background-color: #252b3d;
	background-image: radial-gradient(circle, #27273c, #242c3d);
/*  	background-image:  url(../images/honeycomb.svg);*/
	/* background-image: url(../images/background.jpg); */
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
 	background-position: top;
 	margin:0;
   	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* background-image: url(../images/honeycomb.svg); */
	color: var(--front-text-color);
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

 }

img {
  pointer-events: none;
}

/*.fadeInLoad {
    animation: fadeInLoad 0.1s;
}

@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
*/
	.name {
		font-size: 2em;
		margin-bottom: 4px;
		font-weight: 400;
		margin-top: 30px;
		margin-bottom: 6px;
		-webkit-text-size-adjust: 100%;
		text-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
  		transform: scale(1, 1.08) !important;

	}

	.info {
		margin-top: 2px;
		font-size: 1.16em;
		margin-bottom: 35px;
		font-style: italic;
		-webkit-text-size-adjust: 100%;
		/* text-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;; */

	}


.card {
	/* transition: .75; */
    width: 300px;
/*	padding: 5px;*/
	padding-bottom: 5px; 
/*	overflow: hidden;*/
	position: relative;
    border-radius: 20px;
/*	overflow-x: hidden;
    overflow-y: auto;*/
    background-color: var(--card-front-color);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
	border: 4px outset #00000036;
    transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transform-style: preserve-3d;
	perspective: 800px;
	/* box-shadow: 0 0 50px rgba(0,0,0,0.5); */
	/* border: 5px outset #00000036; */
/*	aspect-ratio: 6.5/10;*/
}




/*.card:hover .profile {
	box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5), 0 12px 25px 0 rgba(0, 0, 0, 0.5);
}*/


/*.card:hover p.name-content span{
  display: none;
}
.card:hover p.name-content:after{
  content: "Hey, I'm Abey 🐝";

}*/
/*.card:hover .name {
  text-shadow: -.25px -.25px 0 black,
                .25px .25px black;

}
*/
.centered {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;

	/* bring your own prefixes */
	transform: translate(-50%, -50%);
  	transform-style: preserve-3d;
}


}

b {
	font-weight: 400;
}



.instagram {
	color: #C13584;
	background-image: linear-gradient(
	    to left,
	    #C13584 0%,
	    #833AB4 50%,
	    #405DE6 100%
  );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 400;

}

.fa-instagram {
	color: #9a3c84 ;
}

.fa-linkedin-square {
	color: #0074b1;
}

.fa-github {
	color: #4b3553;
}

.fa-envelope-square {
	color: #304560;
}


.fa {
	text-align: center;
	padding-top: 10px;
	font-size: 2.1em !important;
	padding-top: 15px;
	padding-bottom: 15px;
}

.btn {
	display: inline-block;
    color: #585657;
    margin-left: 6%;
	margin-right: 6%;
	opacity: 80%;
	transition: transform .2s, opacity .5s; /* Animation */
}

.btn:hover {
	transform: scale(1.15);
	opacity: 100%;
}

a {
	color: inherit;
    text-decoration: none !important;

}

i {
	margin: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
	font-size: 9px;
	font-weight: 400;
    visibility: hidden;
/*    width: 65px;*/
	background-color:var(--accent-color);
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 8px;
	border: 1px solid var(--accent-gray);
    position: absolute;
   left: 50%;
  	transform: translate(-50%, 0%);
    z-index: 99;
    top: 70%;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	color: rgba(255, 255, 255, .9);
    opacity: 0;

}

.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #164470f7 transparent;
    opacity: 0;
}

.tooltip:hover .tooltiptext, .tooltiptext::after {
	visibility: visible;
    opacity: 90%;
    transition: opacity 0.2s;
    transition-delay: 0.1s;

}


hr {
    border: 0;
    height: 1px;
	background: var(--accent-gray);

    margin-left: 15px;
    margin-right: 15px;

}

.bottom{
/*	background-color: #00000036;
	overflow: hidden;
	border-radius: 5px;*/
}



.front,
.flip,
.back,
.box-canvas,
.bee-wrapper,
.bee,
.wing,
.wing-left,
.wing-right,
.bee::before,
.bee::after,
.uh-image,
.uh-image-inner,
.gradient,
.profile,
.link,
.instagram,
.info,
a, 
.bottom,
.fa,
.name {
    backface-visibility: hidden;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

.front {
	width: 100%;
	height: 100%;
}
.back {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  position: fixed;
  color: rgb(255, 255, 255);
  background: var(--back-background-color);
  border-radius: 16px;
/*  border: 1.5px solid #e3e2d5;*/

  z-index: -10;
  overflow: hidden;

}

.flower {
	position: absolute;
	width: 81%;
    left: 50%;
	bottom:-3%;
    transform: translate(-50%, 0);
	height: 76%;
	padding-top: 50%;
	opacity: 85%;
	-webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
	filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}


.flip,
.flip-back {
	background-color: rgba(240, 238, 235, 0.881);
	font-size: 1.9em;
	color: var(--accent-gray);
	cursor: pointer;
	border: 0;
	position: absolute;
	padding: auto;
	font-family: 'Overpass';
	font-weight: 400;
	margin: auto;
	right: 0;
/*	padding-left: 12px;
	padding-right: 8px;
	padding-bottom: 2px;*/
	border-radius: 0px 15px 0 15px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 10px;
	padding-right: 8px;
	transition: all .2s, color .3s, background-color .1s; /* Animation */
	line-height:60%;

}

.flip {
	color: var(--accent-color);
	background-color: #abb5c8ad;

}
.flip-back {
	color: rgba(255, 255, 255, 0.3);
	background-color: #4c5669ad;

}

button,
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.flip:hover {
	color: var(--accent-color);
	border-radius: 0px 15px 0 15px;
	transform: scale(1.15) translateX(-2px) translateY(2px);
}

.flip-back:hover{
	color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 15px 0 15px;
	transform: scale(1.15) translateX(-2px) translateY(2px);

}

.back-title,
.back-name,
.back-attribution {
	margin: 0;
	padding: 0%;
	color: #c9cac3;
	/* background-color: #0074b1; */
	font-family: 'Pacifico';

}

.star {
	font-size: 0em;
	line-height: 100%;
}

.back-title {
	padding-top: 15%;
	font-size: 1em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
	letter-spacing: .1rem;
}

.back-name {
	font-size: 2.2em;
	letter-spacing: .1rem;
	/* margin-top: 13%; */
	line-height: 90%;
	padding: 0;
	color: #eab53c;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	text-shadow: -1px -1px 0px var(--back-background-color),
	    2px 2px 0px var(--back-background-color),
	    3px 3px 0px #00000055;
}

.back-attribution {
	position: absolute;
	font-size: 1.2em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
	left: 10%;
	top: 92%;
	letter-spacing: .1rem;

}

.bee-attribution{
	color: #eab53c;

}

@keyframes flap-left {
    0%, 100% { transform: skew(10deg) scale(0.9); }
    50% { transform: skew(30deg) scale(1.2); }
}

@keyframes flap-right {
    0%,100% { transform: skew(-10deg) scale(0.9);}
    50% { transform: skew(-30deg) scale(1.2); }
}


@keyframes flap-left-ant {
    0%, 100% { transform: skew(0deg); }
    50% { transform: skew(15deg); }
}

@keyframes flap-right-ant {
    0%,100% { transform: skew(0deg); }
    50% { transform: skew(-15deg); }
}

@keyframes MoveUpDown {
	0%, 100% {
		transform: translate(-50%, -50%) rotate(20deg) scale(0.49) translateX(20%) translateY(230%);
	}
	30% {
		transform: translate(-50%, -50%) rotate(55deg) scale(.5) translateX(-220%) translateY(0%);
	}
	/* 75% {
		transform: translate(-50%, -50%) rotate(20deg) scale(.8) translateX(10px) translateY(0px);
	} */
	/* 90% {
		transform: translate(-50%, -50%) rotate(5deg) scale(.9) translateX(50px) translateY(50px);
	} */
	60% {
		transform: translate(-50%, -50%) rotate(280deg) scale(.51) translateX(30%) translateY(180%);
	}
  }

.back-bee {
	font-size: 5em;
}




  .box-canvas{
	position: absolute;
	display: block;
	margin-top: 8%;
	margin-bottom: 8%;
	top: 50%;
	right: 50%;
	transform: translate(-50%, -50%) scale(.6);
  }


  .bee-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-30deg);
	width: 200px;
	height: 200px;
	animation: MoveUpDown ease-in-out 18s infinite;

  }

  .bee {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 95px;
	width: 60px;
	background: linear-gradient(
		var(--bee-black) 0%,
		var(--bee-black) 18%,

		var(--bee-yellow) 15%,
		var(--bee-yellow) 30%,

		var(--bee-black) 30%,
		var(--bee-black) 50%,

		var(--bee-yellow) 50%,
		var(--bee-yellow) 65%,

		var(--bee-black) 65%,
		var(--bee-black) 80%,

		var(--bee-yellow) 80%,
		var(--bee-yellow) 95%,

		var(--bee-black) 95%,
		var(--bee-black) 100%);


		/* var(--bee-yellow) 0%,

				var(--bee-yellow) 0%,


		var(--bee-yellow) 40%,
		var(--bee-yellow) 60%,

		var(--bee-yellow) 60%,
		var(--bee-yellow) 80%,

		var(--bee-yellow) 80%,
		var(--bee-yellow) 100%,

		/* var(--bee-yellow) 100%,  */
	border-radius: 50%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .3), -5px 5px 5px 0 rgba(0, 0, 0, 0.3);

  }

  /* Left antenna */
  .bee::before {
	content: '';
	position: absolute;
	top: -10px;
	right: 28px;
	height: 10px;
	width: 15px;
	border: 5px solid var(--bee-black);
	border-radius: 50%;
	border-left-color: transparent;
	border-bottom-color: transparent;
	animation: flap-right-ant 1s infinite;

  }

  /* Right antenna */
  .bee::after {
	content: '';
	position: absolute;
	top: -10px;
	right: 0px;
	height: 10px;
	width: 15px;
	border: 5px solid var(--bee-black);
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	animation: flap-left-ant 1s infinite;

  }

  .stinger {
	position: absolute;
	top: 145px;
	left: 88px;
	width: 0;
	height: 0;
	border-right: 12px solid transparent;
	border-top: 18px solid var(--bee-black);
	border-left: 12px solid transparent ;
  }

  .wing {
	position: absolute;
	top: 75px;
	width: 60px;
	height: 30px;
	background: rgba(255,255,255,0.7);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .3), -5px 5px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .wing::after {
	content: '';
	position: absolute;
	bottom: -10px;
	width: 50px;
	height: 15px;
	background: rgba(255, 255, 255, 0.7);


  }

  .wing-left {
	border-radius: 50%;
	left: 30px;
	transform: rotate(20deg);
	animation: flap-left .25s infinite alternate;
  }

  .wing-left::after {
	border-radius: 50%;
	transform: rotate(-30deg);
	left: 2px;
  }

  .wing-right {
	right: 30px;
	transform: rotate(-20deg);
	border-radius: 50%;
	animation: flap-right 0.25s infinite alternate;
  }

  .wing-right::after {
	border-radius: 50%;
	transform: rotate(30deg);
	right: 2px;

  }

  .profile {
	/* width: 80%; */
	/*height: 60%;*/
    border-radius: 50%;
    display: block;
    margin: 40px auto 0;
    margin-top: 50px;

/*	transition: 1.5s;
*/
	/* box-shadow: 0px 0px 45px rgba(0, 0, 0, .3), 0 3px 10px 0 rgba(0, 0, 0, 0.3); */
	/* background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
	}

  .uh-image {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));

  }
  .uh-image-inner {
	width: 96%;
	height: 96%; 
	border: .25em solid #d4d4d8;
	object-fit: cover;
	border-radius: 50%;
	z-index: 2;
  }


@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


  .gradient {
	width: 96%;
	height: 96%;
	padding: .5em;
	position: absolute;
	border-radius: 50%;
	background: linear-gradient(
	    45deg,
	    rgba(245, 160, 77, 1) 0%,
	    #9a3c84 100%
	  );
	-webkit-animation: rotating 6s linear infinite;
  	-moz-animation: rotating 6s linear infinite;
  	-ms-animation: rotating 6s linear infinite;
  	-o-animation: rotating 6s linear infinite;
  	animation: rotating 6s linear infinite;

  }



@media (max-width:500px) {
	/*	body{
			overflow: hidden;
		 }*/
		.card {
			width: 80%;
			/* padding-bottom: 30px; */

		}
		.uh-image {
			width: 68vw;
			height: 68vw;
		}

		.name {
			font-size: 8.5vw;
/*			margin-bottom: 6px;*/
			-webkit-text-size-adjust: 100%
		}

		.info {
/*			margin-top: 2px;*/
			margin-bottom: 9vw;
			font-size: 4.9vw;
			-webkit-text-size-adjust: 100%
		}
		.fa {
			text-align: center;
			font-size: 9vw !important;
			padding-top: 5vw;
			padding-bottom: 6vw;
		}

		.flip, .flip-back, .flip:hover, .flip-back:hover {
			font-size: 9vw;
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.back-title {
			font-size: 4vw;
		}

		.back-name {
			font-size: 9.3vw;
		}

		.back-attribution {
			font-size: 5vw;
		}
		.btn {
			transform: scale(1.1);
		}
	    .uh-image-inner {
			width: 96%;
			height: 96%; 
			border: 1vw solid #d4d5d8;
		}
		.gradient{
			padding: 2vw;
		}

	}
