@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
@import url('https://fonts.googleapis.com/css?family=Kalam:400');
@import 'https://fonts.googleapis.com/css?family=Lato:300';

body { 
	white-space:nowrap;
	font-family: 'Source Sans Pro';
	background-image: url(../images/background.jpg);
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
 	background-position: top;
 	margin:0;
   	overflow: hidden;
	-webkit-font-smoothing: antialiased;
 }

.fadeInLoad {
    animation: fadeInLoad 1.5s;
}

@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

	.name {
		font-size: 1.9em;
		margin-bottom: 4px;
		font-weight: bold;
		margin-top: 35px;
		margin-bottom: 6px;
		-webkit-text-size-adjust: 100%

	}

	.info {
		margin-top: 2px;
		font-size: 1.125em;
		margin-bottom: 40px;
		-webkit-text-size-adjust: 100%
	}


.card {
	/* transition: .75; */
    width: 320px;
	padding: 5px;
	padding-bottom: 30px;
    padding-top: 10px;
/*	overflow: hidden;*/
	position: relative;
    border-radius: 20px;
/*	overflow-x: hidden;
    overflow-y: auto;*/
    background-color: rgb(236 233 229);
 	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 	border: 4px solid #5d4f3d36;
    transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	transform-style: preserve-3d;
	perspective: 800px;	/* box-shadow: 0 0 50px rgba(0,0,0,0.5); */


}


.profile {
	width: 80%;
	/*height: 60%;*/
    border-radius: 50%;
    display: block;
    margin: 40px auto 0;
  	border: 4px solid #5d4f3d36;
/*	transition: 1.5s;
*/
	box-shadow: 0px 0px 95px rgba(0, 0, 0, .3), 0 5px 20px 0 rgba(0, 0, 0, 0.3);

}


/*.card:hover .profile {
	box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.5), 0 12px 25px 0 rgba(0, 0, 0, 0.5);
}*/


/*.card:hover p.name-content span{
  display: none;
}
.card:hover p.name-content:after{
  content: "Hey, I'm Abey 🐝";

}*/
/*.card:hover .name {
  text-shadow: -.25px -.25px 0 black, 
                .25px .25px black;

}
*/
.centered {
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;

	/* bring your own prefixes */
	transform: translate(-50%, -50%);
  	transform-style: preserve-3d;
}

.btn {
	display: inline-block;
    color: #585657;
    margin-left: 6%;
	margin-right: 6%;

}
b {
	font-weight: bolder;
}


.btn:hover {
	color: black;

}


.instagram {
	color: #C13584;
	background-image: linear-gradient(
	    to left,
	    #C13584 0%,
	    #833AB4 50%,
	    #405DE6 100%
  );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a{
  display:inline-block;
  transform: scale(1.05);
  margin-left: 2px;
  font-weight: bold;

}
.fa-linkedin {
	opacity: 70%;
	color: #0074b1;
}

.fa-linkedin:hover {
	opacity: 100%;
	color: #0074b1;
	transform: scale(1.05);
}

.fa-github-alt {
	opacity: 50%;
	color: black;
}

.fa-github-alt:hover {
	opacity: 100%;
	color: black;
	transform: scale(1.05);
}

.fa-file-text-o {
	opacity: 70%;
	transform: scale(.9);
	color: #4281f5;
}

.fa-file-text-o:hover {
	opacity: 100%;
	color: #4281f5;
	transform: scale(.95);
}

.fa-medium:hover {
	color: #01ab6c;
	transform: scale(1.05);
}

.fa-envelope-o {
	opacity: 70%;
	color: #c3452c;
}

.fa-envelope-o:hover {
	opacity: 100%;
	color: #c3452c;
	transform: scale(1.05);
}


.fa {
	text-align: center;
	margin-top: 10px;
	font-size: 1.75em !important;}


a { 
	color: inherit; 
    text-decoration: none !important;

} 

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
	font-size: 14px;
	font-weight: bold;
    visibility: hidden;
    width: 100px;
    background-color:#858481;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 15px;
    padding: 0px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -51px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


hr {
    border: 0;
    height: 1px;
    background: #5d4f3d36;
    background-image: linear-gradient(to right, #ccc, #5d4f3d36, #ccc);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;

}



.front,
.flip,
.back,
.box-canvas, 
.bee-wrapper,
.bee,
.wing,
.wing-left,
.wing-right,
.bee::before,
.bee::after {
    backface-visibility: hidden;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
}

.front {
	width: 100%;
	height: 100%;
}
.back {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  position: fixed;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  background: #335b8a;
  background-image: url(../images/honeycomb.svg);
  border-radius: 15px;
  border: 0px solid #5d4f3d36;
  z-index: -10;
}

.flower {
	width: 60%;
	padding-top: 12.5%;
}

.flip {
	bottom: 99%;
	left: 90%;
}
.flip-back {
	bottom: 89.5%;
	left: 2%;
}
.flip,
.flip-back {
	background-color: rgb(240 238 235 / 0%);
	border-radius: 50%;
	border-width: 0;
	font-size: 2.4em;
	font-weight: lighter;
	color: #abaaa7;
	cursor: pointer;
	position: absolute;
	font-family: 'Kalam';

}
.flip-back:hover,
.flip:hover {
	color: #83a2b6;
  	transform: scale(1.2);
	cursor: pointer;
}

.back-title-smaller,
.back-title,
.back-name{
	font-size: 2em;
	font-weight: bolder;
	margin: 0;
	padding: 0%;
	/* padding-top: 45%; */
	color: #efc210fe;

	/* background-color: #0074b1; */
	font-family: 'Kalam';

}

.back-title-smaller{
	font-size: 1.4em;
	margin-top: 20%;
	margin-bottom: 0;
	padding: 0;

}

.back-name {
	font-size: 1.6em;
	margin-top: 20%;
	padding: 0;
}

@keyframes flap-left {
    0%, 100% { transform: skew(0deg) scale(0.9); }
    50% { transform: skew(20deg) scale(1.1); }
}

@keyframes flap-right {
    0%,100% { transform: skew(0deg) scale(0.9);}
    50% { transform: skew(-20deg) scale(1.1); }
}


@keyframes flap-left-ant {
    0% { transform: skew(0deg); }
    50% { transform: skew(10deg); }
    100% { transform: skew(0deg); }
}

@keyframes flap-right-ant {
    0% { transform: skew(0deg); }
    50% { transform: skew(-10deg); }
    100% { transform: skew(0deg); }
}

@keyframes MoveUpDown {
	0%,10%, 100% {
		transform: translate(-50%, -50%) rotate(0) scale(0.9) translateX(10%) translateY(100%);
	}
	30% {
		transform: translate(-50%, -50%) rotate(50deg) scale(1) translateX(-120%) translateY(-20%);
	}
	/* 70% {
		transform: translate(-50%, -50%) rotate(10deg) scale(1) translateX(50%) translateY(50%);
	} */
	/* 75% {
		transform: translate(-50%, -50%) rotate(20deg) scale(.8) translateX(10px) translateY(0px);
	} */
	/* 90% {
		transform: translate(-50%, -50%) rotate(5deg) scale(.9) translateX(50px) translateY(50px);
	} */
	60% {
		transform: translate(-50%, -50%) rotate(310deg) scale(0.9) translateX(70%) translateY(80%);
	}
  }

.back-bee {
	font-size: 5em;
}


:root {
	--background-color: #335b8a;
	--cell-outline-color: #b56d4d;
	--bee-yellow: #efc210fe;
	--bee-black: #000;
	--bee-white: #efc210fe;
  }
  
  
  .box-canvas{
	position: absolute;
	display: block;
	margin-top: 8%;
	margin-bottom: 8%;
	top: 50%;
	right: 50%;
	transform: translate(-50%, -50%) scale(.5);

	background: var(--background-color);

  }
  
  .honeycomb-wrapper {
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1.3);
	color: transparent;
  }
  
  .honeycomb {
	display: flex;

  }
  
  .row0 {
	margin-left: 250px;
  }
  
  .row1 {
	margin-top: -25px;
  }
  
  .row2 {
	margin-left: 50px;
	margin-top: -25px;
  }
  
  .row3 {
	margin-top: -25px;
	
  }
  
  .cell {
	position: relative;
	width: 100px;
	height: 100px;
	background: var(--cell-outline-color);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  }
  
  .cell::before {
	content: '';
	position: absolute;
	left: 6px;
	top: 6px;
	width: 90px;
	height: 90px;
	background: var(--background-color);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  .bee-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-30deg);
	width: 200px;
	height: 200px;
	animation: MoveUpDown ease-in-out 20s infinite;


  }
  
  .bee {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 100px;
	width: 50px;
	background: linear-gradient(
	  var(--bee-black), 
	  var(--bee-black) 20%, 
	  var(--bee-yellow) 20%, 
	  var(--bee-yellow) 25%, 
	  var(--bee-black) 25%, 
	  var(--bee-black) 60%, 
	  var(--bee-yellow) 60%, 
	  var(--bee-yellow) 75%, 
	  var(--bee-black) 75%, 
	  var(--bee-black) 90%, 
	  var(--bee-white) 90%, 
	  var(--bee-white) );
	border-radius: 50% 50% 40% 40%;
	box-shadow: 0px 0px 95px rgba(0, 0, 0, .3), 0 5px 20px 0 rgba(0, 0, 0, 0.3);


  }
  
  /* Left antenna */
  .bee::before {
	content: '';
	position: absolute;
	top: -10px;
	right: 25px;
	height: 20px;
	width: 15px;
	border: 2px solid var(--bee-black);
	border-radius: 50% 50% 0% 0%;
	border-left-color: transparent;
	border-bottom-color: transparent;
	animation: flap-right-ant 1s infinite;

  }
  
  /* Right antenna */
  .bee::after {
	content: '';
	position: absolute;
	top: -10px;
	right: 3px;
	height: 20px;
	width: 15px;
	border: 2px solid var(--bee-black);
	border-radius: 50% 50% 0% 0%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	animation: flap-left-ant 1s infinite;

  }
  
  .wing {
	position: absolute;
	top: 70px;
	width: 70px;
	height: 25px;
	background: rgba(255,255,255,0.7);
	box-shadow: 0px 0px 95px rgba(0, 0, 0, .3), 0 5px 20px 0 rgba(0, 0, 0, 0.3);

  }
  
  .wing::after {
	content: '';
	position: absolute;
	bottom: -10px;
	width: 50px;
	height: 15px;
	background: rgba(255, 255, 255, 0.8);
	
  }
  
  .wing-left {
	border-radius: 50% 20% 20% 50%;
	left: 20px;
	transform: rotate(20deg);
	animation: flap-left .2s infinite alternate;
  }
  
  .wing-left::after {
	border-radius: 50% 20% 20% 50%;
	transform: rotate(-30deg);
	left: 22px;
  }
  
  .wing-right {
	right: 20px;
	transform: rotate(-20deg);
	border-radius: 20% 50% 50% 20%;
	animation: flap-right 0.2s infinite alternate;
  }
  
  .wing-right::after {
	border-radius: 20% 50% 50% 20%;
	transform: rotate(30deg);
	right: 22px;
  }



@media (max-width:500px) {
	/*	body{
			overflow: hidden;
		 }*/
		.card {
			width: 80%;
			padding-bottom: 30px;

		}
		.profile{
			width: 80%;
		}
	
		.name {
			font-size: 8.5vw;
			margin-top: 40px;
			margin-bottom: 6px;
			font-weight: normal;
			-webkit-text-size-adjust: 100%
		}
	
		.info {
			margin-top: 2px;
			margin-bottom: 45px;
			font-size: 4.8vw;
			-webkit-text-size-adjust: 100%
		}
		.fa {
			text-align: center;
			margin-top: 10px;
			font-size: 8.0vw !important;}
	
		.flip {
			left:80%;
		}
		
		.flip-back {
			left:0%;
		}
	}
	